body {
    margin: 0px;
  }
  #navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }
  #logo {
    width: 5%;
    text-align: right;
    margin-top: 5px;
  }
  #logo img {
    width: 30%;
    border-radius: 80%;
    padding: 9px;
  }
  #profile img {
    border-radius: 80%;
    width: 50%;
    height: 35px;
    padding-top: 7%;
  }
  #search {
    width: 10%;
    padding: 12px;
  }
  ul {
    padding-left: 0px;
  }
  
  #list li {
    display: inline;
    margin-left: 4%;
  }
  #options {
    width: 75%;
  }
  #profile {
    width: 5%;
  }
  
  
  #main{
     padding: 3%;
  }
  #line1 {
    background-color: 1px solid teal;
    height: 1px;
    width: 95%;
    margin: auto;
    
  }
  #box {
    width: 90%;
    margin: auto;
    margin-top: 25px;
  }
  #box div {
    border-bottom: 1px solid teal;
  }