#sin {
    height: 250px;
    width: 300px;
    background-color: pink;
    
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 150px;

}
body{
    background-color: black;
}

h1{
    padding-top: 30px;
}
input {
    background-color: black;;
    color: white;
    margin-bottom: 10px;
}
#form > input:last-child{
    margin-top: 30px;
}

