*{
    padding: 0;
    margin: 0;
}
body {
       font-size: 100%;
        font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
        background-color: #fff;
        color: black;
        overflow-y: scroll;
        overflow-x: hidden;
}
#navbar {
    width: 90%;
    margin: auto;
    height: 36px;
    margin-top: 20px;
    padding-top: 15px;
    border:1px solid teal;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  
}
#logo {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 15px;
  font-size: 27px;
  margin-top: -4px;
  font-weight: bold;
  font-style: italic;
}
#navbar ul {
    display: flex;
    list-style-type: none;
    float: right;
}
#navbar ul li {
    width: auto;
    margin-right: 25px;
}
#navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#navbar ul li a:hover {
    border-bottom: 1px solid black;
    

 }
 #slideshow {
     width: 84%;
     margin: auto;
     margin-top: 10px;
 }
 #slideshow > img {
width: 100%;
height: 390px;
 }
 #makeorder{
     text-align: center;
     font-weight: bold;
     font-size: 40px;
     color: red;
     margin-top: 15px;
 }
 #orderbox {
     margin: auto;
     
     width: 15%;
     margin-top: 20px;
     font-size: 20px;
 }
 #submit {
     background-color: red;
     color: #fff;
     width: 100%;
     margin-left: 0px;
     margin-bottom: 50px;
     height: 30px;
     margin-top: 10px;
 }
 #submit:hover {
     background-color: #fff;
     color: red;
 }