@font-face {
  font-family: Bold;
  src: url("fonts/nunito-bold-webfont.woff2") format("woff2"),
    url("fonts/nunito-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Regular;
  src: url("fonts/nunito-regular-webfont.woff2") format("woff2"),
    url("fonts/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: Regular;
}
