


.nav {
    height: 60px;
    width: 100%;

    display: flex;
    box-sizing: border-box;
    
}
h1{
    color: grey;
    font-family: "Mier book";
    
    text-align: center;
    margin-left: 400px;
    font-size: 80px;
    margin-top: -20px;

}
#btn{
    background: rgba(144, 199, 142, 0.479);
    border: 1px solid black;
  
    margin-top: 25px;
    width: 80px;
    height: 20px;
    
    
}
#btn2 {
    background-color: rgb(231, 26, 88);
    margin-left: 900px;
    border-radius: 15px;
    color: aliceblue;
    height: 40px;
    width: 150px;
}


#box {
    
    margin: auto;
    width: 60%;
    margin-top: 20px;
}
  #bo {
      display: flex;
      margin: auto;
      width: 60%;
      justify-content: space-between;
      margin-top: 30px;
  }
  #line {
      width: 60%;
      height: 0.5px;
      margin: auto;
      background-color: black;
  }
  #box4 {
      display: flex;
height: 260px;
      width: 100%;
  }
  #box img {
      height: 200px;
      width: 250px;
      border: 1px solid black;
  }
  #box5 {
      width: 40%;
      margin: 20px;
      
  }
  h4{
     margin-left: 150px;
     margin-top: 50px;
  }
  #box6 {
display: flex;
justify-content: space-around;
  }
  #box7 {
      display: flex;
       margin-left: 870px; 
      width: 200px;
      justify-content: space-between;

  }
  #btn3 {
      margin-left: 190px;
      background: rgba(144, 199, 142, 0.479);
      border: 1px solid black;
    
      margin-top: 15px;
      width: 80px;
      height: 20px;
      
  }
 